
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/* Style para vista Principal */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F9FA;
  
}



.navbar-simple {
    background-color: #28a745 !important;
}

.imagen-carta {
  height: 250px;   /* Ajusta la altura máxima */
  
  width: 100%;  
}

.formulario-verde {
    background-color: #28a745;
    padding: 30px;
    border-radius:10px;
}

